<div id="marginLeft50px">
<a href="/" class="navigation" id="nav1">Главная</a>            
<a href="/supplier" class="navigation" id="nav2" >Поставщики</a>
<a href="/curt" class="navigation" id="nav3">Заказы</a>
</div>
  